@import "tailwindcss";

@theme {
  --background: hsl(0 0% 13%);
  --secondary-background: hsl(0 0% 7%);
  --gray: hsl(0 0% 67%);
  --white: hsl(0 0% 100%);
  --border: hsl(0 0% 19%);
  --black: hsl(0 0% 0%);
}

* {
  border-color: var(--border);
}

body {
  background: var(--background);
  color: var(--white);
}
